.comment {
    position: relative;
    padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
}

.text {
    padding-left: 54px;
    padding-top: var(--mantine-spacing-sm);
    font-size: var(--mantine-font-size-sm);
}

.delete {
    position: absolute;
    top: var(--mantine-spacing-sm);
    right: var(--mantine-spacing-sm);
}