.link {
    line-height: 0;
    text-decoration: none;
    color: var(--mantine-color-text);
    transition: color .2s;

    cursor: pointer;
}
.link:hover,
.link:global(.active) {
    color: var(--mantine-primary-color-filled)
}