.link {
    text-decoration: none;
}

.card {
    position: relative;
    background-color: var(--mantine-color-body);
}

.title {
    display: block;
    margin-top: var(--mantine-spacing-md);
    margin-bottom: 5px;
}

.like.active {
    color: var(--mantine-color-red-7)
}

.footer {
    margin-top: var(--mantine-spacing-md);
}